@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  --dark-gray: #1F1A1E;
  --teal:#2F7284;
  --light-teal:#A0C7FF;
  --light-red:#D2607A;
  --light-blue:#87CEEB;
  --light-purple:#B0ADDA;
  --orange:#FF9D00;
  --brown:#D8CBAF;
  --white:#F2F2F2;
  --dark-purple:#493E51;
  font-family:"Fira Code", monospace;
}
.lander{
  background-color: var(--dark-gray);
  min-height:100vh;
}
.lander-content{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  z-index: 2;
  position: relative;
}
.identity{
  display:inline-block;
}
.identity > .head{
  background-color: var(--teal);
  width: 3em;
  height: 2em;
  font-size: 5em;
  padding: 0.5em;
  font-weight: bold;
  color: var(--light-teal);
  text-shadow: 0.05em 0.1em rgb(0 0 0 / 10%);
}

.buttons{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.buttons > .button{
  height: 5em;
  width: 5em;
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
}
.buttons > .button:nth-child(1){
  background-color:var(--light-red);
}
.buttons > .button:nth-child(2){
  background-color:var(--light-purple);
}
.buttons > .button:nth-child(3){
  background-color:var(--brown);
}

.about{
  width: 25em;
  height: 10em;
  background-color:var(--orange);
  padding:2em;
  font-weight:bold;
  color:var(--dark-gray);
  display: flex;
  flex-direction: column;
  box-shadow: var(--teal) 2em 2em;
}

.about > h1{
  font-size:2em;
}
.about > p{
  margin-top:1em;
}
.about > p:nth-last-child(1){
  margin-bottom:1em;
}

@media (orientation: portrait) {
  .lander-content {
    flex-direction: column;
  }
  .about{
    width:16.1em;
    height:auto;
    box-shadow: none;
  }
}

@media screen and (max-width:450px) {
  html{
    font-size:0.8em;
  }
}

@media screen and (min-width:1500px){
  html{
    font-size:1.2em;
  }
}


@media screen and (min-width:2100px){
  html{
    font-size:1.5em;
  }
}

@media screen and (min-width:3000px){
  html{
    font-size:2em;
  }
}


/* Projects Section */
.projects {
  background-color: var(--dark-purple);
  padding: 4em 2em;
}

.projects-header {
  max-width: 60em;
  margin: 0 auto 2em;
}

.projects-header h2 {
  display: inline-block;
  background-color: var(--orange);
  color: var(--dark-gray);
  font-size: 2em;
  font-weight: bold;
  padding: 0.3em 0.6em;
}

.projects-list {
  max-width: 60em;
  margin: 0 auto;
}

.proj {
  display: grid;
  grid-template-columns: 12em 1fr auto auto;
  align-items: center;
  gap: 1.5em;
  padding: 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  transition: background-color 0.2s ease;
}

.proj:hover {
  background-color: rgba(255,255,255,0.03);
}

.proj:last-child {
  border-bottom: none;
}

.proj-name {
  background-size: cover;
  background-position: center;
  padding: 0.8em 1em;
  min-width: 10em;
  display: flex;
  align-items: center;
}

.proj-name h3 {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--light-teal);
  white-space: nowrap;
  text-shadow: 0 1px 3px rgba(0,0,0,0.8);
}

.proj > p {
  color: var(--white);
  font-size: 0.85em;
  line-height: 1.4;
  opacity: 0.8;
}

.proj-tech {
  display: flex;
  gap: 0.4em;
}

.proj-tech span {
  background-color: var(--teal);
  color: var(--light-teal);
  font-size: 0.65em;
  font-weight: bold;
  padding: 0.3em 0.5em;
  white-space: nowrap;
}

.proj-links {
  display: flex;
  gap: 1em;
}

.proj-links a {
  color: var(--orange);
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
  transition: color 0.2s ease;
  white-space: nowrap;
}

.proj-links a:hover {
  color: var(--light-red);
}

@media (max-width: 800px) {
  .proj {
    grid-template-columns: 1fr;
    gap: 0.6em;
    padding: 0;
  }

  .proj-name {
    padding: 1em;
    min-height: 4em;
  }

  .proj > p,
  .proj-tech,
  .proj-links {
    padding: 0 1em;
  }

  .proj-links {
    padding-bottom: 1em;
  }

  .proj-tech {
    flex-wrap: wrap;
  }

  .projects-header h2 {
    font-size: 1.6em;
  }

  .gol-controls {
    top: 1em;
    right: 1em;
  }

  .gol-controls button {
    font-size: 0.7em;
    padding: 0.4em 0.7em;
  }
}

#gameoflife{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
}

.gol-controls {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  z-index: 10;
  display: flex;
  gap: 0.5em;
}

.gol-controls button {
  font-family: "Fira Code", monospace;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--dark-gray);
  color: var(--light-teal);
  border: 2px solid var(--teal);
}

.gol-controls button:hover {
  background-color: var(--teal);
  color: var(--dark-gray);
}

.gol-controls button.active {
  background-color: var(--orange);
  color: var(--dark-gray);
  border-color: var(--orange);
}