@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  --dark-gray: #1F1A1E;
  --teal:#2F7284;
  --light-teal:#A0C7FF;
  --light-red:#D2607A;
  --light-blue:#87CEEB;
  --light-purple:#B0ADDA;
  --orange:#FF9D00;
  --brown:#D8CBAF;
  --white:#F2F2F2;
  --dark-purple:#493E51;
  font-family:"Fira Code", monospace;
}
.lander{
  background-color: var(--dark-gray);
  min-height:100vh;
}
.lander-content{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
.identity{
  display:inline-block;
}
.identity > .head{
  background-color: var(--teal);
  width: 3em;
  height: 2em;
  font-size: 5em;
  padding: 0.5em;
  font-weight: bold;
  color: var(--light-teal);
  text-shadow: 0.05em 0.1em rgb(0 0 0 / 10%);
}

.buttons{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.buttons > .button{
  height: 5em;
  width: 5em;
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
}
.buttons > .button:nth-child(1){
  background-color:var(--light-red);
}
.buttons > .button:nth-child(2){
  background-color:var(--light-purple);
}
.buttons > .button:nth-child(3){
  background-color:var(--brown);
}

.about{
  width: 25em;
  height: 10em;
  background-color:var(--orange);
  padding:2em;
  font-weight:bold;
  color:var(--dark-gray);
  display: flex;
  flex-direction: column;
  box-shadow: var(--teal) 2em 2em;
}

.about > h1{
  font-size:2em;
}
.about > p{
  margin-top:1em;
}
.about > p:nth-last-child(1){
  margin-bottom:1em;
}

@media (orientation: portrait) {
  .lander-content {
    flex-direction: column;
  }
  .about{
    width:16em;
    height:auto;
    box-shadow: none;
  }
}

@media screen and (max-width:450px) {
  html{
    font-size:0.8em;
  }
}

.projects{
  background-color: var(--dark-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  flex-wrap: wrap;
}

.projects > .proj{
  width:20em;
  background-color: var(--dark-gray);
  border-radius: 1em;
  color:var(--white);
  margin: 2em;
  display: flex;
  font-weight: bold;
  flex-direction: column;
}

.proj > img{
  width:100%;
  border-radius: 1em 1em 0em 0em;
  height:100%;
}

.proj > img.half-img{
  width:50%
}

.proj-content{
  padding:1em;
}

.proj-content > h2{
 font-size:3em;
}

.proj-content > p{
  line-height: 1.6;
}

.proj-content > br{
  height: 0.5em;
  width: 100%;
  content: "";
  margin-top: 0;
  display: block;
  background-color: var(--white);
}

.proj-content h2{
  margin-bottom:.5em;  
}

.proj-content > br, .proj-content > p{
  margin-bottom:1.75em;
}

.proj-link{
  color:var(--light-blue);
  text-decoration:none;
}
