@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  --dark-gray: #1F1A1E;
  --teal:#2F7284;
  --light-teal:#A0C7FF;
  --light-red:#D2607A;
  --light-blue:#87CEEB;
  --light-purple:#B0ADDA;
  --orange:#FF9D00;
  --brown:#D8CBAF;
  --white:#F2F2F2;
  --dark-purple:#493E51;
  font-family:"Fira Code", monospace;
}
.lander{
  background-color: var(--dark-gray);
  min-height:100vh;
}
.lander-content{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  z-index: 2;
  position: relative;
}
.identity{
  display:inline-block;
}
.identity > .head{
  background-color: var(--teal);
  width: 3em;
  height: 2em;
  font-size: 5em;
  padding: 0.5em;
  font-weight: bold;
  color: var(--light-teal);
  text-shadow: 0.05em 0.1em rgb(0 0 0 / 10%);
}

.buttons{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.buttons > .button{
  height: 5em;
  width: 5em;
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  font-weight: bold;
  justify-content: center;
  text-decoration: none;
}
.buttons > .button:nth-child(1){
  background-color:var(--light-red);
}
.buttons > .button:nth-child(2){
  background-color:var(--light-purple);
}
.buttons > .button:nth-child(3){
  background-color:var(--brown);
}

.about{
  width: 25em;
  height: 10em;
  background-color:var(--orange);
  padding:2em;
  font-weight:bold;
  color:var(--dark-gray);
  display: flex;
  flex-direction: column;
  box-shadow: var(--teal) 2em 2em;
}

.about > h1{
  font-size:2em;
}
.about > p{
  margin-top:1em;
}
.about > p:nth-last-child(1){
  margin-bottom:1em;
}

@media (orientation: portrait) {
  .lander-content {
    flex-direction: column;
  }
  .about{
    width:16.1em;
    height:auto;
    box-shadow: none;
  }
}

@media screen and (max-width:450px) {
  html{
    font-size:0.8em;
  }
}

@media screen and (min-width:1500px){
  html{
    font-size:1.2em;
  }
}


@media screen and (min-width:2100px){
  html{
    font-size:1.5em;
  }
}

@media screen and (min-width:3000px){
  html{
    font-size:2em;
  }
}


/* Projects Section */
.projects {
  background-color: var(--dark-purple);
  padding: 4em 2em;
}

.projects-header {
  max-width: 70em;
  margin: 0 auto 3em;
}

.projects-header h2 {
  display: inline-block;
  background-color: var(--orange);
  color: var(--dark-gray);
  font-size: 2.5em;
  font-weight: bold;
  padding: 0.3em 0.6em;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 2em;
  max-width: 70em;
  margin: 0 auto;
}

.proj {
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.proj:hover {
  transform: translateY(-0.3em);
}

.proj-visual {
  height: 10em;
  overflow: hidden;
  background-color: #2a2328;
}

.proj-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.proj:hover .proj-visual img {
  transform: scale(1.05);
}

.proj-content {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.proj-content h3 {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--light-teal);
  margin-bottom: 0.6em;
}

.proj-content > p {
  color: var(--white);
  line-height: 1.5;
  font-size: 0.9em;
  flex: 1;
  margin-bottom: 1em;
}

.proj-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  margin-bottom: 1em;
}

.proj-tech span {
  background-color: var(--teal);
  color: var(--light-teal);
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.3em 0.6em;
}

.proj-links {
  display: flex;
  gap: 1em;
  margin-top: auto;
  padding-top: 0.5em;
  border-top: 1px solid var(--dark-purple);
}

.proj-links a {
  color: var(--orange);
  text-decoration: none;
  font-size: 0.85em;
  font-weight: bold;
  transition: color 0.2s ease;
}

.proj-links a:hover {
  color: var(--light-red);
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .projects-header h2 {
    font-size: 1.8em;
  }
}

#gameoflife{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
}