$Nav-Bar-text-shadow:#003300;
$Nav-border:#002e3d;
$Nav-Background:#00804c;
$Nav-Bar-text-shadow:#003300;
.Nav-Bar{
  .Mobile{
    display:none;
    width:100%;
    .DropDown{
      font-size:3em;
      color:white;
      position:absolute;
      text-shadow:2px 2px $Nav-Bar-text-shadow;
      background-color: $Nav-Background;
      border-bottom:solid 2px $Nav-border;
      border-top:none;
      top:100%;
      right:0%;
      transition:all .5s;
      overflow:hidden;
      height:200px;
      width:100%;
      text-align: center;
      a:hover{
        text-decoration: underline;
      }
      p{
        background-color:#084679;
        border-top:2px solid rgb(73, 167, 0);
        border-bottom:2px solid rgb(73, 167, 0);
      }
    }
    .Dropdown-Closed{
      height:0px;
    }
    .Mobile-Tap-Target{
      height:45px;
      width:45px;
      margin-left: auto;
      @include CenterFlex;
      flex-direction: column;
      justify-content: space-around;
      cursor:pointer;
      position:relative;
      div:nth-of-type(1){
        top:10px;
        left:0px;
      }
      div:nth-of-type(2){
        top:20px;
        left:0px;
      }
      div:nth-of-type(3){
        top:30px;
        left:0px;
      }
      .Mobile-Div{
        width:35px;
        height:5px;
        background-color: white;
        transition: all .5s;
        position:absolute;
      }
      .Open{
        top:50% !important;
        left:0%;
      }
    }
    .Mobile-Tap-Target-Open{
      div:nth-of-type(1){
        transform:rotate(45deg);
      }
      div:nth-of-type(2){
        transform:rotate(45deg);
      }
      div:nth-of-type(3){
        transform:rotate(135deg);
      }
    }
  }
  .Desktop{
    @include CenterFlex;
    justify-content: flex-end;
    .Desktop-Nav-Bar-Item{
      margin-right:20px;
      opacity: 0.5;
      transition: all 1s;
      color:white;
      font-size:3em;
      text-shadow:3px 3px $Nav-Bar-text-shadow;
      &:hover{
        opacity: 1;
        .bar{
          width:100%;
        }
      }
      p{
        margin-top: 3px;
      }
      .bar{
        transition: width .3s;
        width:0%;
        height:3px;
        background-color:white;
      }
    }
  }
  @include Media(768px){
    .Desktop{
      display:none;
    }
    .Mobile{
      @include CenterFlex;
    }
  }
}
