$border:#002e3d;
$text-background-color:#00804c;
.Projects-holder{
  display:flex;
  flex-wrap:wrap;
  .Project-Container{
    width:50%;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    height:300px;
    .project{
      border:solid $border;
      width:90%;
      height:250px;
      position:relative;
      font-size:1.5em;
      overflow: hidden;
      transition: all .5s;
      color:white;
      box-shadow: 2px 2px 5px black;
      .img{
        transition: width .5s;
        width:110%;
        height:auto;
        position: absolute;
        z-index: -2;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
      }
      .placeholder{
        visibility:hidden;
      }
      .desc{
        position:absolute;
        right:0px;
        bottom:0px;
      }
      .name-Container{
        border-bottom:solid $border;
        background-color: $text-background-color;
        width:100%;
        position:absolute;
        top:0px;
        left:0px;
      }
      .desc-Container{
        border-top:solid $border;
        background-color: $text-background-color;
        width:100%;
        position:absolute;
        bottom:0px;
        right:0px;
      }
      &:hover{
        font-size:2em;
        .img{
          width:100%;
        }
      }
    }
  }
    @include Media(768px) {
      .Project-Container {
          width:99vw;
      }
  }
}
