$tech-background:lightgreen;
$tech-header-background:#00804c;
$tech-header-title-shadow:3px 3px #002e3d;
$tech-border:solid #002e3d;
$tech-box-shadow:2px 2px 5px #000;
$tech-body-skill-background:#00804c;
$tech-body-skill-shadow:2px 2px 5px #000;
$tech-body-skill-border:solid #002e3d;
$tech-body-skill-text-shadow:2px 2px #002e3d;

#tech-container-mount{
  @include CenterFlex;
  width:100%;
}

.skills{
  margin-top: 25%;
  margin-bottom:20%;
  width:100%;
  @include CenterFlex;
  flex-direction: column;
  .tech-container{
    margin-bottom:20px;
    box-shadow: $tech-box-shadow;
    border:$tech-border;
    width:90%;
    .tech-body{
      background-color:$tech-background;
      @include CenterFlex;
      justify-content: space-around;
      flex-wrap:wrap;
      .tech-body-skill-container{
        height:400px;
        background-color:$tech-body-skill-background;
        border:$tech-body-skill-border;
        box-shadow: $tech-body-skill-shadow;
        width:300px;
        @include CenterFlex;
        flex-direction: column;
        color:white;
        margin:10px;
        text-shadow:$tech-body-skill-text-shadow;
        .tech-body-skill-name{
            font-size:3em;
        }
        .tech-body-skill-skill{
          font-size:2em;
        }
        .tech-body-skill-img-container{
          background-color: white;
          border:$tech-body-skill-border;
          height:250px;
          width:250px;
          @include CenterFlex;
        }
        .resizeY{
          height:225px;
          width:auto;
        }
        .resizeX{
          width:225px;
          height:auto;
        }
      }
    }
    .tech-header{
      background-color: $tech-header-background;
      position:relative;
      @include CenterFlex;
      .tech-header-selected-bar-desktop{
        opacity: 0.9;
        transition:all .5s;
        height:5px;
        width:calc(100%/3);
        background-color: white;
        position:absolute;
        bottom:0px;
        left:0px;
      }
      .tech-header-selected-bar-mobile{
        opacity: 0.9;
        transition:all .5s;
        height:calc(100%/3);
        width:5px;
        background-color: white;
        position:absolute;
        display:none;
        top:0px;
      }
      .tech-header-bar{
        text-shadow:$tech-header-title-shadow;
        font-size:3em;
        color:white;
        text-align: center;
        width:calc(100%/3);
        cursor:pointer;
        border-bottom:$tech-border;
      }
      @include Media(768px) {
        .tech-header-bar{
          width:100%;
        }
        .tech-header-selected-bar-desktop{
          display:none;
        }
        .tech-header-selected-bar-mobile{
          display:block;
        }
      }
    }
    @include Media(768px) {
      .tech-header{
        flex-direction: column;
      }
    }
  }
}
