.page__blog{
  display:flex;
  align-items:center;
  justify-content: flex-start;
  height:100%;
  width:100%;
  flex-direction: column;
}

.blog__post{
  margin:1em;
  border:solid darken(#f2f2f2,5%) 10px;
  padding:.5em;
  .title,.date{
    text-align: center;
  }
  @include Media(1000px){
    margin:.5em;
  }
}

.blog__view{
  width:80%;
  p:not([class]){
    margin-top:60px;
    text-indent: 50px;
    max-width: 1000px;
  }
  div:not([class]){
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    p:not([class]){
      max-width: 90% !important;
    }
  }
  p{
    font-size:20px;
    font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.3;
  }
  h1{
    font-size:36px;
  }
  h2{
    font-size:24px;
  }
  .content{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  @include Media(1000px){
    width:95%;
  }
}