.page__projects{
  color:#5c5c5c;
  .title{
    font-size:2em;
    text-align: center;
    margin:10px;
  }
  .librarycontainer{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap:wrap;
  }
  .project{
    margin:1em;
    background-color:#5c5c5c;
    display:flex;
    justify-content: space-around;
    align-items:center;
    .project__imagecontainer{
      width:40%;
      .imagecontainer__image{
        width:calc(100% - 2em);
        margin:1em;
        height:auto;
      }
    }
     .textcontainer__linkcontainer{
        margin-top:.5em;
      }  
    .project__textcontainer{
      color:#f2f2f2;
      background-color:#262626;
      padding:1em;
      margin:1em;
      width:40%;
     .textcontainer__link{
        margin-right:.6em;
        color:skyblue;
      }
      @include Media(768px){
        font-size:.5em;
      }
    }
    @include Media(1000px){
      margin-top:.5em;
      margin-bottom:.5em;
      flex-direction: column;
      .project__imagecontainer{
        width:100%;
      }
      .project__textcontainer{
        width:100%;
      }
    }
  }
  .project,noImage{
    justify-content:center;
    .project__textcontainer{
      width:80%;
    }
  }
}
.library{
  width:80%;  
 .library__textcontainer{
      color:#f2f2f2;
      background-color:#262626;
      padding:1em;
      margin:1em;
      width:80%;
       .textcontainer__link{
        margin-right:.6em;
        color:skyblue;
      }
      @include Media(768px){
        font-size:.5em;
      }
    }  
}
.project__selector{
  margin:1em;
  background-color:#5c5c5c; 
  width:calc(100% - 2em);
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;
  align-items:center;
  .selector__button{
    padding:.5em;
    margin:.5em;
    width:calc(33% - 1em);
    color:#f2f2f2;
    background-color:#262626;   
    cursor:pointer;
    transition:color .25s;
    transition:background-color .25s;
    &:hover{
      background-color:white;
      color:black;
    }
  }
  @include Media(1000px){
    .selector__button{
      font-size:.5em;
    }
  }
  @include Media(768px){
    flex-direction:column;
    .selector__button{
      width:90%;
    }
  }
}