@import "imports/Mixins";
@import "imports/Normalize";
@import 'imports/legacy';
@import 'imports/Project';
@import 'imports/AboutMe';
@import 'imports/Skill';
@import 'imports/NavBar';

* {
  box-sizing:border-box;
}

a{
  margin:0;
  padding:0;
}

.section{
  margin-top:200px;
}

.Section-Title{
  width:100%;
  color:white;
  font-size:3em;
  text-shadow:3px 3px #002e3d;
  text-align: center;
}
